@plugin "daisyui/theme" {
  name: "arbitrum-light";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(99% 0.005 250);   
  --color-base-200: oklch(95% 0.01 250);   
  --color-base-300: oklch(90% 0.015 250);   
  --color-base-content: oklch(20% 0.04 250); 

  --color-primary: oklch(62% 0.24 260);      
  --color-primary-content: oklch(98% 0.01 260);

  --color-secondary: oklch(68% 0.22 280);   
  --color-secondary-content: oklch(16% 0.03 280);

  /* Border radius & sizes */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "arbitrum-dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(10% 0.025 250);    
  --color-base-content: oklch(93% 0.035 250);  

  /* Border radius & sizes */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 2;
  --noise: 0.02;
}
