@plugin "daisyui/theme" {
  name: "polygon-light";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(99% 0.008 300);   
  --color-base-200: oklch(95% 0.015 300);   
  --color-base-300: oklch(90% 0.02 300);    
  --color-base-content: oklch(18% 0.04 300); 

  --color-primary: oklch(68% 0.22 295);      
  --color-primary-content: oklch(98% 0.01 295);

  /* Border radius & sizes */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "polygon-dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(10% 0.025 300);    
  --color-base-content: oklch(94% 0.035 300);  

  /* Border radius & sizes */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 2;
  --noise: 0.02;
}
