@plugin "daisyui/theme" {
  name: "solana-light";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(99% 0.006 195);   
  --color-base-200: oklch(95% 0.015 195);   
  --color-base-300: oklch(88% 0.025 195);   
  --color-base-content: oklch(18% 0.055 195); 

  --color-primary: oklch(65% 0.26 190);      
  --color-primary-content: oklch(98% 0.01 190);

  /* Border radius & sizes */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "solana-dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(10% 0.05 195);    
  --color-base-content: oklch(94% 0.055 195);  

  /* Border radius & sizes */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 2;
  --noise: 0.02;
}
