@plugin "daisyui/theme" {
  name: "zksync-light";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(98% 0.015 10);   
  --color-base-200: oklch(94% 0.025 10);   
  --color-base-300: oklch(88% 0.035 10);   
  --color-base-content: oklch(40% 0.055 10); 

  --color-primary: oklch(70% 0.15 10);      
  --color-primary-content: oklch(98% 0.01 10);

  /* Border radius & sizes */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "zksync-dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(12% 0.035 5);    
  --color-base-content: oklch(93% 0.045 5);  

  /* Border radius & sizes */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 2;
  --noise: 0.02;
}
