@import "tailwindcss";

/* Hide spinner arrows for number input fields */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

/* Default variables, can be considered a general fallback */
:root {
    /* Light theme defaults */
    --color-primary-50: #eef2ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4fd8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;

    /* Shadow defaults */
    --shadow-sm-applied: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md-applied: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.theme-blue {
    --color-primary-50: #eef2ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4fd8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;
}

.theme-red {
    --color-primary-50: #fef2f2;
    --color-primary-100: #fee2e2;
    --color-primary-200: #fecaca;
    --color-primary-300: #fca5a5;
    --color-primary-400: #f87171;
    --color-primary-500: #ef4444;
    --color-primary-600: #dc2626;
    --color-primary-700: #b91c1c;
    --color-primary-800: #991b1b;
    --color-primary-900: #7f1d1d;
    --color-primary-950: #450a0a;
}

.theme-green {
    --color-primary-50: #f0fdf4;
    --color-primary-100: #dcfce7;
    --color-primary-200: #bbf7d0;
    --color-primary-300: #86efac;
    --color-primary-400: #4ade80;
    --color-primary-500: #22c55e;
    --color-primary-600: #16a34a;
    --color-primary-700: #15803d;
    --color-primary-800: #166534;
    --color-primary-900: #14532d;
    --color-primary-950: #052e16;
}

.theme-orange {
    --color-primary-50: #fff9f0;
    --color-primary-100: #fef3c7;
    --color-primary-200: #fde68a;
    --color-primary-300: #facc15;
    --color-primary-400: #f59e0b;
    --color-primary-500: #ea5e0c;
    --color-primary-600: #c24100;
    --color-primary-700: #9a3412;
    --color-primary-800: #7c2d12;
    --color-primary-900: #52180a;
    --color-primary-950: #1e0f00;
}
